$color-pink: lightcoral;
$color-green: lightgreen;
$color-black: #1f1f1f;
$pinks: ( darken($color-pink, 5%), darken($color-pink, 8%), darken($color-pink, 11%), darken($color-pink, 14%), darken($color-pink, 17%));
$colors: ( 
    primary: (light: lighten($color-pink, 20%), med: lighten($color-pink, 15%), dark: lighten($color-pink, 10%)), 
    secondary: (light: lighten($color-green, 20%), med: lighten($color-green, 15%), dark: lighten($color-green, 10%)), 
    tertiary: (light: lighten($color-black, 20%), med: lighten($color-black, 15%), dark: lighten($color-black, 10%))
);

$s: 10px;
$columns: 12;
$breakpoints: ( mobile: 390px, tablet: 768px, desktop: 1024px );